<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h1>{{title}}</h1>
  {{#if user}}
  <p>Welcome {{user.username}}</p>
  <div id="countdown">
    <p>You can request again in...</p>
    <ul>
      <li><span id="days"></span>days</li>
      <li><span id="hours"></span>Hours</li>
      <li><span id="minutes"></span>Minutes</li>
      <li><span id="seconds"></span>Seconds</li>
    </ul>
  </div>
  <div id="content">
    <form action="/faucet" method="post">
      <label for="address">Enter your address: </label>
      <input id="address" type="text" name="address">
      <input type="submit" value="Fund me">
    </form>
  </div>
  {{else}}
  <p><a href='/auth/github'>Sign in With GitHub</a></p>
  {{/if}}
  <p>Faucet address: {{address}}</p>
  <script>
    (function () {
      let countdown = document.getElementById("countdown"),
        content = document.getElementById("content"),
        unlockDateStr = "{{unlockDate}}";

      if(unlockDateStr.length){
        const second = 1000,
          minute = second * 60,
          hour = minute * 60,
          day = hour * 24;

        let countDown = new Date("{{unlockDate}}").getTime(),
          x = setInterval(function() {

            let now = new Date().getTime(),
              distance = countDown - now;

            document.getElementById("days").innerText = Math.floor(distance / (day)),
              document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
              document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
              document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);

            //do something later when date is reached
            if (distance < 0) {
              countdown.style.display = "none";
              content.style.display = "block";

              clearInterval(x);
            }
            //seconds
          }, 0)
      }else{
        countdown.style.display = "none";
        content.style.display = "block";
      }
    }());
  </script>
</body>
</html>
